version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: backend_container
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: production
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
    container_name: frontend_container
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
